<header class="header">
    <div class="container-fluid">
        <div class="content">
            <div class="overbrand">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-xs-4">
                        <p class="overbrand__details">{{headerContent.overbrandContent}}</p>
                    </div>
                    <div class="col-lg-5 col-md-6 col-xs-8 text-right">
                        <ul class="pipe-links-list overbrand__overbrandList">
                            <li class="pipe-links-list__item" *ngFor="let link of headerContent.overbrandLinks">
                                <a class="pipe-separated-links__link">{{link.label}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__primary" id="publicHeader">
                <div class="row">
                    <div class="col-md-3 header__logo"></div>
                    <div class="col-md-3 header_public__account-info col-md-offset-6 text-right">
                        <p class="header_public__account-greeting">
                            <strong>Welcome!</strong>
                        </p>
                        <ul class="pipe-links-list">
                            <li class="pipe-links-list__item" *ngFor="let link of headerContent.publicCustomLinks">
                                <a>{{link.label}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>