<div class="section landing-page" id="landing-page">
  <div class="landing-page__body">
    <div class="item landing-page__hero">
      <div class="landing-page__banner" *ngIf="publicDataConfig | async ; let publicDataConfig">
        <p class="landing-page__banner-text">{{publicDataConfig.welcomeBanner}}</p>
      </div>
    </div>
    <div class="item landing-page__form">
      <form class="form" role="form" name="loginForm" autocomplete="off">
        <div>
          <!--to disable ie/edge/firefox/opera to save password.-->
          <input id="username" style="display:none" type="text" name="username" />
          <input id="password" style="display:none" type="password" name="password" />
          <!--to disable ie/edge/firefox/opera to save password.-->
          <h3 class="landing-page__title">Login</h3>
          <div class="input-element">
            <label class="landing-page__form-label" for="a">Username</label>
            <input class="form-control" id="a" required="required" type="text" placeholder="Your username" autocomplete="nope" />
          </div>
          <div class="input-element">
            <label class="landing-page__form-label" for="b">Password</label>
            <input class="form-control" id="b" required="required" type="password" placeholder="Your password" autocomplete="new-password"
            />
          </div>
        </div>
        <div class="landing-page__login-button">
          <button class="btn btn--primary" id="login" type="submit">Login
            <span>
              <!-- <i class="fa fa-spin fa-spinner"></i> -->
            </span>
          </button>
        </div>
        <div class="registration-info no-margin--vertical padding--vertical">
          <P>
            <a class="landing-page__forgot-password-link">Forgot your password?</a>
          </P>
        </div>
        <div class="registration-info">
          <p>New user? &nbsp;
            <a class="landing-page__register-link">Register</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 landing-page__content" *ngIf="publicDataConfig | async ; let publicDataConfig">
        <h3 class="landing-page__content-header" [innerHTML]="publicDataConfig.welcomeHeaderContent"></h3>
        <p class="landing-page__content-text" [innerHTML]="publicDataConfig.welcomePageContent"></p>
      </div>
    </div>
  </div>
</div>