<div class="container-fluid">
  <div class="content">
    <footer class="footer">
      <span>
        <img class="footer__powered-by-logo" src="src/assets/img/powered-by-virmedica.png" />
        <p class="footer__portal-version" ng-if="footer.showPortalVersion">Version: 2.10.0</p>
      </span>
      <div class="footer__content">
        <div class="footer__logo"></div>
        <p class="footer__copyright" [innerHTML]="footerViewModel.footerContent">
          <p class="footer__details" [innerHTML]="footerViewModel.footerCustomerSupport"></p>
          <ul class="footer__links pipe-links-list">
            <li class="pipe-links-list__item" *ngFor="let link of footerViewModel.footerLinks">
              <a class="pipe-links__link" target="_blank">{{link.label}}</a>
            </li>
          </ul>