<div class="isi-content" appIsi>
  <div class="content">
    <div class="landing-page section no-padding no-margin--vertical">
      <div class="isi isi--fixed" id="isi-fixed">
        <div>
          <div class="isi__disclaimer" id="isi-disclaimer-fixed" *ngIf="isiContent.isiDisclaimer">
            <p>{{isiContent.isiDisclaimer}}</p>
          </div>
          <h3 id="isi-header-fixed">{{isiContent.isiHeader}}&nbsp;
            <a id="full-isi-link">(View full ISI)</a>
          </h3>
          <p class="isi--full" id="isi-content-fixed" [innerHtml]="isiContent.stickyContent"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="content isi-content">
    <div class="landing-page section no-padding" id="isi-full">
      <article>
        <div class="isi landing-page__body">
          <div>
            <div class="isi__disclaimer" id="isi-disclaimer-full" *ngIf="isiContent.isiDisclaimer">
              <p>{{isiContent.isiDisclaimer}}</p>
            </div>
            <h3 id="isi-header-full">{{isiContent.isiHeader}}</h3>
            <p class="isi--full" id="isi-content-full" [innerHTML]="isiContent.isiContentBody"> </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>