@import "variables";
@import "mixin";
body,
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  &::after,
  &::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  background-color: $app-bg-color;
  font-size: 16px;
}
// CSS HELPERS
// ------------------------------------

// CSS HELPERS
// ------------------------------------

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-margin {
  margin: 0;
}

.left-padding {
  padding-left: $default-padding;
}

// APP-WIDE STYLES
// ------------------------------------

div.content {
  min-height: 100%;
  width: 100%;

  .section:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $sm-screen) {
  .content {
    padding: 0 50px;
  }
}

div.section {
  background-color: $section-bg-color;
  border: 1px solid $gray-lighter;
  border-radius: $default-border-radius;
  margin: 0.313em auto;
  max-width: $app-max-width;
  padding: 1.5em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label {
    font-family: $font-primary;
    @include text-color($section-bg-color);
  }
}

div.container {
  margin: 0 auto;
  position: relative;
  vertical-align: bottom;
}

div.container.main-container {
  height: 100%;
  margin: 0;
  width: 100%;
}

.padding-top {
  padding-top: $default-padding;
}

.padding-top {
  padding-top: $default-padding;
}

.padding-bottom {
  padding-bottom: $default-padding;
}

.collapse-toggle-icon {
  padding-top: em(24px);
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
